# --- R / RStudio ---
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# macOS
.DS_Store

# Shiny / Temp
.Rcheck/
.Rapp.history

# renv 
renv/library

# Große Rohdaten / Geodaten (nicht ins Repo)
*.nc
*.tif
*.tiff
*.zip
*.shp
*.dbf
*.shx
*.prj

# Lokale Testdatenordner (falls du sie so nutzt)
radklim/
data_raw/
tmp/